body {
     background-color: lightgrey;
}

.container_inner {
     /* display: flex; */
     max-width: 1320px;
     background-color: pink;
}

.navbar {
     color: blanchedalmond;
     width: 100%;
}

.name {
     font-weight: bolder;
     font-size: large;
     color: gold;
     /*color: goldenrod; */
}

#navbarNavAltMarkup .navbar-nav .nav-link {
     /* text-align: center; */
     color: blanchedalmond;
     /* float: center; */
}

footer.bg-light{
     /*margin: 0;
     padding: 0;
     border: 0;*/
     font-size: 100%;
     font: inherit;
     color: black;
     vertical-align: baseline;
}