#main-projects-content {
    display: flex;
    flex-wrap: wrap;
}

.project-box {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    justify-content: center;
    display: flex;
}

.project-textbox {
    border: 2px solid;
    max-width: 100%;
}

#projects {
    padding: 10px 20px;
}

.project-startdate:before {
    content: "Start date: ";
    font-weight: bold;
}

.project-enddate:before {
    content: "End date: ";
    font-weight: bold;
}

.project-education:before {
    content: "Languages used: ";
    font-weight: bold;
}

.project-school:before {
    content: "School: ";
    font-weight: bold;
}

.project-link:before {
    content: "Link: ";
    font-weight: bold;
}